{% extends "base.html" %}

{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post.css" %}" />
  <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock  %}

{% block title %}My Blog{% endblock  %}

{% block content %}
  <section id='welcome'>
    <header>
      <img src="{% static "blog/images/ana.jpg" %}" alt="Ana - The Author Of This Blog" />
      <h2>Ana's Blog</h2>
    </header>
    <p>Hi I am Ana and I love to blog about tech and the world</p>
  </section>

  <section id='latest-posts'>
    <h2>My Latest Thought</h2>

    <ul>
      {% for post in posts  %}
        {% include "blog/includes/post.html" %}
      {% endfor %}
    </ul>
  </section>

  <section id='about'>
    <h2>What i do</h2>
    <p>
      I am a software engineer and a passionate about technology. I love to write about how technology has impacted our lives and how we can use it to make a better world.
    </p>
    <p>
      Feel free to reach out if you have any questions or want to share your thoughts.
    </p>
  </section>
{% endblock  %}