.title {
  text-transform: uppercase;
  background-color: blanchedalmond;
  width: 100%;
  height: 5.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  width: 700px;
  /* height: 400px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.job-category {
  cursor: pointer;
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  margin: 0;
}

.job-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Initially hidden */
}

.job-list.show {
  display: block; /* Show when the 'show' class is added */
}

.job-list li {
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.job-list li:hover {
  background-color: #007BFF;
  transition: all 0.3s ease;
}

.job-list li:hover a {
  color: #fff;
  scale: 1.4;
  font-size: 1.2rem;
}

.job-list li:last-child {
  border-bottom: none;
}

.job-list li a {
  text-decoration: none;
  color: #333;
}

