{% extends "base.html" %}
{% load static %}

{% block title %}All Jobs{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'jobs/CSS/job_list.css' %}">
{% endblock %}

{% block content %}
  <h1 class="title">Job Categories</h1>
  <div class="job-container">
    {% for category_data in job_dicts %}
      <h3 class="job-category">{{ category_data.category }}</h3>
      <ul class="job-list">
        {% for job in category_data.jobs %}
          <li>
            <a href="{% url "job-detail" slug=job.slug %}">{{ job.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

  <script src="{% static 'jobs/JS/job_list.js' %}"></script>
{% endblock %}