{% extends "base.html" %}
{% load static %}

{% block title %}All Jobs{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'jobs/CSS/job_list.css' %}">
{% endblock %}

{% block content %}
    <h1 class="title">Job Categories</h1>
    <div class="job-container">
      {% for category, job_list in jobs.items %}
        <h3 class="job-category">{{ category }}</h3>
        <ul class="job-list">
          {% for job in job_list %}
            <li>{{ job }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>

    <script src="{% static 'jobs/JS/job_list.js' %}"></script>
{% endblock %}
